<div class="row text-center">
    <h1 class="text-info">
        User NOT Found in the database
    </h1>
   
</div>
<a class="btn btn-outline-succes" asp-controller="Books" asp-action="Index">Home Page</a>